<div class="app-main__inner">
  <div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <div class="page-title-icon">
                  <i class="pe-7s-diamond icon-gradient bg-mean-fruit"></i>
              </div>
              <div>{{ formTitle }}
                  <div class="page-title-subheading">

                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="main-card mb-3 card animated fadeIn fast">
    <div class="card-body">
        <h5 class="card-title">Datos del cliente</h5>

        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">

          <div class="form-row">
            <div class="col-md-12 mb-3">
                <label>Nombre</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Nombre"
                  required
                  [value]="forma.get('name').value | uppercase"
                  formControlName="name"
                  [class.is-invalid]="isInvalidField('name')">
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label >Tipo documento</label>
                    <select
                      class="form-control form-control-sm"
                      placeholder="Tipo documento"
                      required
                      formControlName="documenttype"
                      [class.is-invalid]="isInvalidField('documenttype')"
                      >
                      <option *ngFor="let item of dataSourceDocumentType" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label >Número Documento</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      placeholder="Número Documento"
                      required
                      formControlName="documentnumber"
                      [class.is-invalid]="isInvalidField('documentnumber')"
                      >

                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label >Departamento</label>
                    <select
                      class="form-control form-control-sm"
                      placeholder="Departamento"
                      required
                      formControlName="department"
                      [class.is-invalid]="isInvalidField('department')"
                      >
                      <option *ngFor="let item of dataSourceDepartment" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Ciudad</label>
                    <select
                      class="form-control form-control-sm"
                      placeholder="Ciudad"
                      required
                      formControlName="city"
                      [class.is-invalid]="isInvalidField('city')"
                      >
                      <option *ngFor="let item of dataSourceCity" [value]="item.id">{{ item.name }}</option>
                    </select>

                </div>
                <div class="col-md-6 mb-3">
                    <label>Dirección</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Dirección"
                      required
                      [value]="forma.get('homeaddres').value | uppercase"
                      formControlName="homeaddres"
                      [class.is-invalid]="isInvalidField('homeaddres')"
                      >
                </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                  <label>Celular</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    placeholder="Celular"
                    required
                    formControlName="phone"
                    [class.is-invalid]="isInvalidField('phone')"
                    >

              </div>
              <div class="col-md-6 mb-3">
                  <label>Correo Eléctronico</label>
                  <input
                    type="email"
                    class="form-control form-control-sm"
                    placeholder="Correo"
                    required
                    [value]="forma.get('email').value | uppercase"
                    formControlName="email"
                    [class.is-invalid]="isInvalidField('email')"
                    >

              </div>
          </div>
          <div class="form-row">
            <div class="col-md-3 mb-3">
                <label >Estado</label>
                <select
                  class="form-control form-control-sm"
                  placeholder="Estado"
                  required
                  formControlName="status"
                  [class.is-invalid]="isInvalidField('status')"
                  >
                  <option *ngFor="let item of dataSourceStatus" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
                <label >Observaciones</label>
                <textarea
                  class="form-control form-control-sm"
                  cols="30"
                  rows="3"
                  [value]="forma.get('observations').value | uppercase"
                  formControlName="observations"
                  [class.is-invalid]="isInvalidField('observations')"
                  ></textarea>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">{{ formTitle }}</button>
        </form>

    </div>
</div>
